# Ignore the public directory, as it will be generated during the build process
/public/

# Ignore the .DS_Store file on macOS systems
.DS_Store

# Ignore the node_modules directory if you're using npm
node_modules/